<div class="container">
	<div class="wrap">
      <div class="aboutContainer">
        <section class="row">
          <div class="col-md-7">
            <section id="aboutUs-area">
              <h1 class="port-header">About Us</h1>
              <hr class="port-hr"/>
              <div id="aboutUs">
              <p>CheckedIn is a networking tool for event hosts. It allows the host to see who came to their event and allows the guests to connect with each other via LinkedIn.</p>

              <p>It's easy to create your own event page! Just go to our home page and fill out the form then share the unique URL with your attendees and voila!</p>

							<p></p>
              </div>
            </section>
          </div>
          <div class="col-md-5">

            <!-- Start of Connect With Me Area -->
            <section id="connect-with-me-area">
              <div class="connect-with-me-content">
                <h1 class="connect-with-me-header">Connect With Us</h1>
                <hr />
                <div id="images">
                  <div>
                  <p><h3 id="names">Jon Riddick</h3></p>
                  <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAhXAAAAJDE0MTgwZjA3LWI1MzItNGFkYS1hNWRjLTIyMmJmMjhhMGMyNw.jpg" id="ourPics">
                  <p id="aboutUs">The genius behind the idea. Not to brag or boast but this dude is very creative. Connect with him on LinkedIn to see what he creates next!</a>
                  <p><button type="button" href="https://www.linkedin.com/in/jonriddick/" target="_blank" class="btn btn-primary">Connect</button></p>
                  </div>
                  <div>
                  <p><h3 id="names">Steve Murphy</h3></p>
                  <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAIA_wDGAAAAAQAAAAAAAAnaAAAAJDYwMjQ5N2RhLWVjYTktNGZjMy05OWEyLTUxOTcwNWEyNmVkMA.jpg" id="ourPics">
                  <p id="aboutUs">The genius behind it actually getting done. Steves strength and contribution to this project lies in his ability to smack Jon around and make things happen!</a>
                  <p><button type="button" href="https://www.linkedin.com/in/steven-murphy-32040813a/" target="_blank" class="btn btn-primary">Connect</button></p>
                  </div>
                </div>
              </div>
            </section>

            <!-- End of the Connect With Me Area -->
          </div>
        </section>
      </div>
    </div>
    <!-- End of content wrap -->

</div>
