<div class="container">
	<div class="wrap">
      <div class="aboutContainer">
        <section class="row">
          <div class="col-md-7">
            <section id="portfolio-area">
              <h1 class="port-header">About Us</h1>
              <hr class="port-hr"/>
              <p>Bacon ipsum dolor amet jowl ribeye leberkas, spare ribs corned beef porchetta ham hock ham shoulder brisket. Sausage chicken alcatra prosciutto chuck boudin jowl flank drumstick landjaeger jerky sirloin turkey ribeye pancetta. Fatback ball tip leberkas doner. Ham ham hock jowl jerky turkey cupim leberkas beef ribs ribeye salami alcatra tongue. Flank pork loin beef, bacon sirloin pig landjaeger ribeye. Frankfurter kevin swine picanha kielbasa jerky. Filet mignon beef chuck short ribs chicken jowl.</p>

							<p>Chicken cupim hamburger tenderloin bresaola. Meatball venison ham rump leberkas hamburger. Turducken boudin pig rump. Ball tip doner meatball, t-bone sirloin tenderloin short loin landjaeger pastrami rump pork loin sausage.</p>

							<p>Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>

            </section>
          </div>
          <div class="col-md-5">

            <!-- Start of Connect With Me Area -->
            <section id="connect-with-me-area">
              <div class="connect-with-me-content">
                <h1 class="connect-with-me-header">Connect With Us</h1>
                <hr />
                <div id="images">
                  <p><h3 id="names">Jon Riddick</h3></p>
                  <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAhXAAAAJDE0MTgwZjA3LWI1MzItNGFkYS1hNWRjLTIyMmJmMjhhMGMyNw.jpg" id="ourPics">
                  <p>The genius behind the idea. Not to brag or boast but this dude is very creative. Connect with him to see what he creates next!</a>
                  <p><a href="https://www.linkedin.com/in/jonriddick/" target="_blank">linkedin.com/in/jonriddick</a></p>
                  <p><h3 id="names">Steve Murphy</h3></p>
                  <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAIA_wDGAAAAAQAAAAAAAAnaAAAAJDYwMjQ5N2RhLWVjYTktNGZjMy05OWEyLTUxOTcwNWEyNmVkMA.jpg" id="ourPics">
                  <p>The genius behind it actually getting done. Steves strength and contribution to this project lies in his ability to smack Jon around and make things happen.</a>
                  <p><a href="https://www.linkedin.com/in/steven-murphy-32040813a/" target="_blank">linkedin.com/in/stevemurphy</a></p>
                </div>
              </div>
            </section>

            <!-- End of the Connect With Me Area -->
          </div>
        </section>
      </div>
    </div>
    <!-- End of content wrap -->

</div>
