<div class="placeHolder container" id="eventName">{{key.event_name}}
</div>
<div id="chkbtncont" class="container">
    
<!-- CheckIn Button -->
    <a class="btn btn-primary btn-lg btn-block" href="/auth/linkedin" id="submit2">Get CheckedIn Buttton</a>

</div>


<div class="container" id="eventCheckins">Checkins go here.(Placeholder Text)
	{{!-- <ul>
	  {{#each guests}}
	  	<li>
	  	  <p><span class="label">First Name:</span> {{this.first_name}}</p>
	      <p><span class="label">Last Name:</span> {{this.last_name}}</p>
	      <p><span class="label">Picture:</span><img src="{{this.picture}}"></p>
	  	</li>
	  {{/each}}
	</ul> --}}
</div>


