
<div id="neweventcont" class="container">
    <h3>Create Your Event</h3>
    <input type="text" placeholder="Event Name (required)" name="" id="inputName" class="form-control" required >
    <input type="text" placeholder="Event Description (required)" name="" id="inputDescription" class="form-control" required >
    <input type="text" placeholder="Event Keyword #1 (required)" name="" id="inputKeyword1" class="form-control" required >
    <input type="text" placeholder="Event Keyword #2" name="" id="inputKeyword2" class="form-control">
    <input type="text" placeholder="Event Keyword #3" name="" id="inputKeyword3" class="form-control">
<!-- Event Button -->
    <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit">Create Event</button>

</div>





<script type="text/javascript">
$("#submit").on("click", function(){
    $("#resultsModal").modal('toggle');
});
</script>